[user]
    name = goryugo@iMac
    email = goryugo33@gmail.com
[color]
  status = auto
  diff = auto
[pager]
    color = true
[status]
    color = auto
[github]
	user = goryugo
	token = 6b1fa575116374ffb794919febc450d3
